<section class="section-offset choose">
    <div class="container grid">
        <div class="choose__left">
            <h2 class="section-title choose__title">why choose us</h2>
            <h3 class="section-subtitle choose__subtitle">Why Choose Us for Your VR Needs</h3>
            <div class="accordion choose__accordion accordion-choose">
                <div class="accordion__item accordion__item_active accordion-choose__item">
                    <button class="btn-reset accordion__control accordion-choose__control" aria-expanded="false">Passionate and Experienced Team
                        <svg class="arrow">
                          <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                    <div class="accordion__content accordion-choose__content" aria-hidden="true">We are proud of our team of VR experts who are passionate about VR and dedicated to delivering the highest quality work. Our team consists of experienced VR developers, designers, and technicians who have a proven track record of creating immersive and engaging VR experiences.
                    </div>
                </div>
                <div class="accordion__item accordion-choose__item">
                    <button class="btn-reset accordion__control accordion-choose__control" aria-expanded="false">Customized Solutions
                        <svg class="arrow">
                            <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                    <div class="accordion__content accordion-choose__content" aria-hidden="true">We are proud of our team of VR experts who are passionate about VR and dedicated to delivering the highest quality work. Our team consists of experienced VR developers, designers, and technicians who have a proven track record of creating immersive and engaging VR experiences.
                    </div>
                </div>
                <div class="accordion__item accordion-choose__item">
                    <button class="btn-reset accordion__control accordion-choose__control" aria-expanded="false">Exceptional Customer Service
                        <svg class="arrow">
                            <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                    <div class="accordion__content accordion-choose__content" aria-hidden="true">We are proud of our team of VR experts who are passionate about VR and dedicated to delivering the highest quality work. Our team consists of experienced VR developers, designers, and technicians who have a proven track record of creating immersive and engaging VR experiences.
                    </div>
                </div>
            </div>
        </div>
        <div class="choose__right">
            <div class="choose__right-wrapper">
                <picture class="choose__picture-lg">
                  <source srcset="./assets/img/webp/choose-man.webp" media="(min-width: 576px)" width="563" height="662" type="image/webp">
                  <source srcset="./assets/img/webp/choose-man-mobile.webp" media="(max-width: 575px)" width="418" height="492" type="image/webp">
                  <img loading="lazy" src="./assets/img/webp/choose-man.webp" srcset="./assets/img/webp/choose-man_2x.webp 2x" alt="man in VR-glasses with arm up">
                </picture>
                <div class="choose__picture-bg"></div>
                <div class="player-block choose__player">
                    <button class="btn-reset player-block__video-play choose__video-play" data-open="video" data-src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerEscapes.mp4" aria-label="play video button">
                        <svg class="player-block__video-svg choose__video-svg">
                          <use xlink:href="assets/svg/sprite.svg#play"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>