<section class="hero">
    
    <div class="container grid">
        <div class="hero__left">
            <h1 class="page-title hero__title">Immerse Yourself in Virtual Reality</h1>
            <h2 class="hero__subtitle">Experience Unforgettable Events in VR. Bring your events to life like never before with our VR services</h2>
            <button class="btn-reset btn btn_primary hero__btn">discover more</button>
            <div class="hero__clients">
                <div class="hero__happy">
                    <img loading="lazy" src="../assets/img/webp/HappyClient.webp" class="hero__happy-img" width="128" height="51" alt="Happy clients">
                    <div class="hero__happy-text"><span class="hero__happy-amount">32k+</span> Happy Client</div>
                </div>
                
                <div class="player-block hero__player">
                    <button class="btn-reset player-block__video-play hero__video-play">
                        <svg class="player-block__video-svg hero__video-svg">
                          <use xlink:href="assets/svg/sprite.svg#play"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="hero__right">
            <picture class="hero__picture">
              <source srcset="../assets/img/webp/hero-man.webp, ../assets/img/webp/hero-man_2x.webp 2x" media="(min-width: 576px)" type="image/webp">
              <source srcset="../assets/img/webp/hero-man-mobile.webp" media="(max-width: 575px)" type="image/webp">
              <img loading="lazy" src="../assets/img/webp/hero-man.webp" srcset="../assets/img/webp/hero-man_2x.webp 2x" class="hero__right-img" width="526" height="626" alt="Man in VR-glasses">
            </picture>
            
        </div>
        <div class="hero__bottom choose-us-block">
            <div class="choose-us-block__item choose-us-block__item_1">
                <h2 class="choose-us-block__title">Expertise</h2>
                <p class="choose-us-block__descr">Our team consists of experienced VR developers, designers, and technicians who have a passion for VR and a commitment to delivering quality work and give the best service</p>
            </div>
            <div class="choose-us-block__item choose-us-block__item_2">
                <h2 class="choose-us-block__title">Customization</h2>
                <p class="choose-us-block__descr">Every client is unique, and we believe every VR experience should be too. We'll work with you to create a customized solution that meets your specific needs and goals</p>
            </div>
            <div class="choose-us-block__item choose-us-block__item_3">
                <h2 class="choose-us-block__title">Service</h2>
                <p class="choose-us-block__descr">We believe in providing exceptional customer service, from initial consultation to final delivery. Our goal is to ensure you're satisfied with every aspect of your VR experience.</p>
            </div>
        </div>
    </div>
</section>