<section class="section-offset price">
    
    <div class="container">
        <h2 class="section-title price__title">our pricing</h2>
        <h3 class="section-subtitle price__subtitle">Affordable VR Services for Everyone</h3>
        <p class="price__descr">At VRNas, we believe that everyone should have access to the benefits of VR. That's why we offer a range of pricing options to meet the needs of any budget.</p>

        <div class="price__content">
            <div class="price__content-wrapper">
                <ul class="list-reset price__list">
                    <li class="price__item item-price">
                        <div class="item-price__icon">
                            <svg class="item-price__svg">
                                <use xlink:href="assets/svg/sprite.svg#cloud"></use>
                            </svg>
                        </div>
                        
                        <div class="item-price__body">
                            <h3 class="item-price__title">Customizable Packages</h3>
                            <p class="item-price__text">We understand that each project is unique, so we offer customizable packages to ensure that you get the services you need at a price that works for you. Our team will work with you to create a package that meets your specific goals and budget.</p>
                        </div>
                    </li>
                    <li class="price__item item-price">
                        <div class="item-price__icon">
                            <svg class="item-price__svg">
                                <use xlink:href="assets/svg/sprite.svg#cloud"></use>
                            </svg>
                        </div>
                        
                        <div class="item-price__body">
                            <h3 class="item-price__title">Flexible Payment Options</h3>
                            <p class="item-price__text">We offer flexible payment options to make it easy for you to get started with our services. We accept various payment methods, including credit cards, bank transfers, and PayPal, and we can also work with you to create a payment plan that suits your needs.</p>
                        </div>
                    </li>
                    <li class="price__item item-price">
                        <div class="item-price__icon">
                            <svg class="item-price__svg">
                                <use xlink:href="assets/svg/sprite.svg#cloud"></use>
                            </svg>
                        </div>
                        
                        <div class="item-price__body">
                            <h3 class="item-price__title">Satisfaction Guarantee</h3>
                            <p class="item-price__text">We stand behind our services and are committed to ensuring that you are completely satisfied with the final product. If for any reason you are not happy with our services, we will work with you to make it right or provide a full refund.</p>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="price__start start-price">
                <span class="start-price__header">Start from</span>
                <span class="start-price__value">$99</span>
                <button class="btn-reset btn btn_primary start-price__btn">get started</button>
                <span class="start-price__moneyback">30 Days Moneyback Guarantee</span>
            </div>
        </div>
    </div>
</section>