<section class="section-offset page-pricing-price">
    <div class="container">
        <h2 class="section-title page-pricing-price__title">pricing</h2>
        <h3 class="section-subtitle page-pricing-price__subtitle">Pricing Plans</h3>
        <h4 class="page-pricing-price__descr">Choose the pricing plan that fits your needs and budget. All plans come with a free trial period so you can test out our service and see which plan works best for you.</h4>
        <div class="page-pricing-price__cards cards-pricing">
            <article class="cards-pricing__card cards-pricing-card">
                <h5 class="cards-pricing-card__name">Basic Plan</h5>
                <div class="cards-pricing-card__cost">
                    <span class="cards-pricing-card__cost-value">$99</span>
                    <span class="cards-pricing-card__cost-period">/month</span>
                </div>
                <ul class="list-reset cards-pricing-card__list">
                    <li class="cards-pricing-card__list-item cards-pricing-card__list-item_header">All the basic features to boost your freelance career</li>
                    <li class="cards-pricing-card__list-item">Access to a selection of VR games and experiences</li>
                    <li class="cards-pricing-card__list-item">Limited access to educational content</li>
                    <li class="cards-pricing-card__list-item">Limited access to architecture and design tools</li>
                    <li class="cards-pricing-card__list-item">No access to exclusive events or promotions
                    </li>
                </ul>
                <button class="btn-reset btn btn_secondary cards-pricing-card__btn">get 14 days free trial</button>
            </article>
            <article class="cards-pricing__card cards-pricing__card_border cards-pricing-card">
                <h5 class="cards-pricing-card__name">Standart Plan</h5>
                <div class="cards-pricing-card__cost">
                    <span class="cards-pricing-card__cost-value">$149</span>
                    <span class="cards-pricing-card__cost-period">/month</span>
                </div>
                <ul class="list-reset cards-pricing-card__list">
                    <li class="cards-pricing-card__list-item cards-pricing-card__list-item_header">All the basic features to boost your freelance career</li>
                    <li class="cards-pricing-card__list-item">Access to a wider selection of VR games and experiences</li>
                    <li class="cards-pricing-card__list-item">Limited access to educational content</li>
                    <li class="cards-pricing-card__list-item">Limited access to architecture and design tools</li>
                    <li class="cards-pricing-card__list-item">Access to exclusive events and promotions
                    </li>
                </ul>
                <button class="btn-reset btn btn_primary cards-pricing-card__btn cards-pricing-card__btn_standart">get 14 days free trial</button>
            </article>
            <article class="cards-pricing__card cards-pricing-card">
                <h5 class="cards-pricing-card__name">Standart Plan</h5>
                <div class="cards-pricing-card__cost">
                    <span class="cards-pricing-card__cost-value">$200</span>
                    <span class="cards-pricing-card__cost-period">/month</span>
                </div>
                <ul class="list-reset cards-pricing-card__list">
                    <li class="cards-pricing-card__list-item cards-pricing-card__list-item_header">All the basic features to boost your freelance career</li>
                    <li class="cards-pricing-card__list-item">Access to a selection of VR games and experiences</li>
                    <li class="cards-pricing-card__list-item">Limited access to educational content</li>
                    <li class="cards-pricing-card__list-item">Limited access to architecture and design tools</li>
                    <li class="cards-pricing-card__list-item">Priority access to exclusive events and promotions
                    </li>
                </ul>
                <button class="btn-reset btn btn_secondary cards-pricing-card__btn">get 14 days free trial</button>
            </article>
        </div>
    </div>
</section>