<div class="section-offset amount">
    <div class="amount__item">
        <h2 class="section-title amount__item-title">happy clients</h2>
        <h3 class="section-subtitle amount__item-value">123k+</h3>
    </div>
    <div class="amount__item">
        <h2 class="section-title amount__item-title">project complete</h2>
        <h3 class="section-subtitle amount__item-value">300k+</h3>
    </div>
    <div class="amount__item">
        <h2 class="section-title amount__item-title">years experience</h2>
        <h3 class="section-subtitle amount__item-value">10k+</h3>
    </div>
</div>