<section class="section-offset faq">
    <img loading="lazy" src="./assets/img/img-light.svg" class="faq__img" width="837" height="585" alt="Background gradient light">
    <div class="container faq__container grid">
        <h2 class="section-title faq__title">faq</h2>
        <h3 class="section-subtitle faq__subtitle">Frequently Asked Questions</h3>
        <h4 class="faq__descr">At VRNas, we want to make sure that you have all the information you need to make informed decisions about our VR services. Here are some of the most common questions we receive:</h4>

        <div class="accordion faq__accordion need-border">
            <div class="accordion__item accordion__item_active faq__item accordion-item-border">
                <button class="btn-reset accordion__control faq__control" aria-expanded="false">
                    What is virtual reality?
                    <svg class="arrow">
                        <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                    </svg>
                </button>
                <div class="accordion__content faq__content" aria-hidden="true">
                    Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment. Users can interact with this environment as if it were real, allowing for immersive experiences in gaming, education, training, and more.
                </div>
            </div>
            <div class="accordion__item faq__item">
                <button class="btn-reset accordion__control faq__control" aria-expanded="false">
                    What types of VR services do you offer?
                    <svg class="arrow">
                        <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                    </svg>
                </button>
                <div class="accordion__content faq__content" aria-hidden="true">
                    Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment. Users can interact with this environment as if it were real, allowing for immersive experiences in gaming, education, training, and more.
                </div>
            </div>
            <div class="accordion__item faq__item">
                <button class="btn-reset accordion__control faq__control" aria-expanded="false">
                    How much does your VR services cost?
                    <svg class="arrow">
                        <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                    </svg>
                </button>
                <div class="accordion__content faq__content" aria-hidden="true">
                    Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment. Users can interact with this environment as if it were real, allowing for immersive experiences in gaming, education, training, and more.
                </div>
            </div>
            <div class="accordion__item faq__item">
                <button class="btn-reset accordion__control faq__control" aria-expanded="false">
                    What equipment do I need to use your VR services?
                    <svg class="arrow">
                        <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                    </svg>
                </button>
                <div class="accordion__content faq__content" aria-hidden="true">
                    Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment. Users can interact with this environment as if it were real, allowing for immersive experiences in gaming, education, training, and more.
                </div>
            </div>
            <div class="accordion__item faq__item">
                <button class="btn-reset accordion__control faq__control" aria-expanded="false">
                    Can I try out your VR services before I commit?
                    <svg class="arrow">
                        <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                    </svg>
                </button>
                <div class="accordion__content faq__content" aria-hidden="true">
                    Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment. Users can interact with this environment as if it were real, allowing for immersive experiences in gaming, education, training, and more.
                </div>
            </div>
        </div>
    </div>
</section>