<footer class="footer">
    <div class="container">
        <div class="footer__main">
            <div class="footer__left">
                <a href="index.html" class="logo footer__logo">
                    <img loading="lazy" src="../assets/img/logo.svg" class="logo__icon" width="101" height="30" alt="Company Logo">
                </a>
                <div class="footer__socials">
                    <a href="#" class="footer__socials-item">
                        <svg class="footer__socials-svg footer__socials-svg_twitter">
                          <use xlink:href="assets/svg/sprite.svg#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__socials-item">
                        <svg class="footer__socials-svg footer__socials-svg_facebook">
                          <use xlink:href="assets/svg/sprite.svg#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__socials-item">
                        <svg class="footer__socials-svg footer__socials-svg_instagram">
                          <use xlink:href="assets/svg/sprite.svg#instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="footer__socials-item">
                        <svg class="footer__socials-svg footer__socials-svg_github">
                          <use xlink:href="assets/svg/sprite.svg#github"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="footer__right">
                <nav class="footer-nav" title="Navigation links">
                  <ul class="list-reset footer-nav__list">
                    <li class="footer-nav__item footer-nav__item_header">Quicklinks</li>
                    <li class="footer-nav__item"><a href="index.html" class="footer-nav__link footer-link">Home</a></li>
                    <li class="footer-nav__item"><a href="pricing.html" class="footer-nav__link footer-link">Pricing Plan</a></li>
                    <li class="footer-nav__item"><a href="service.html" class="footer-nav__link footer-link">Service</a></li>
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link footer-link">Blog</a></li>
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link footer-link">Our Team</a></li>
                  </ul>
                </nav>
                <nav class="footer-nav" title="Navigation links">
                    <ul class="list-reset footer-nav__list">
                        <li class="footer-nav__item footer-nav__item_header">Support</li>
                        <li class="footer-nav__item"><a href="about.html" class="footer-nav__link footer-link">About us</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link footer-link">Contact us</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link footer-link">FAQ</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link footer-link">Terms & Conditions</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link footer-link">Privacy Policy</a></li>
                    </ul>
                </nav>
                <div class="footer-help">
                    <span class="footer-help__title">Need Help?</span>
                    <address class="footer__address footer-help__item">
                        <svg class="footer-help__svg">
                          <use xlink:href="assets/svg/sprite.svg#Location"></use>
                        </svg>
                        Tanjung Sari Street no.48, Pontianak City
                    </address>
                    <a href="mailto:Support@VRNas.com" class="footer__mail footer-help__item footer-link">
                        <svg class="footer-help__svg">
                            <use xlink:href="assets/svg/sprite.svg#mail"></use>
                        </svg>
                        Support@VRNas.com
                    </a>
                    <a href="tel:1234567890" class="footer__phone footer-help__item footer-link">
                        <svg class="footer-help__svg">
                            <use xlink:href="assets/svg/sprite.svg#phone"></use>
                        </svg>
                        +123 456 7890
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__copyright">© Copyright 2023, All Rights Reserved</div>
    </div>
</footer>