<div class="modals">
    <div class="modal-overlay">
            <div class="modal modal_video" data-modal="video">
                <video  poster="./assets/img/webp/detail-poster.webp" controls width="1000" height="500" class="modal__player">
                </video>
            </div>
            <div class="modal modal_map" data-modal="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63837.07320363049!2d109.32742969242241!3d-0.045265365438254025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e1d58f604b0799b%3A0x511ef9501fc9ffe3!2z0J_QvtC90YLQuNCw0L3QsNC6LCBQb250aWFuYWssINCX0LDQv9Cw0LTQvdGL0Lkg0JrQsNC70LjQvNCw0L3RgtCw0L0sINCY0L3QtNC-0L3QtdC30LjRjw!5e0!3m2!1sru!2sde!4v1714021770687!5m2!1sru!2sde" width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        
    </div>

</div>

