<section class="section-offset needs">
    <div class="container grid">
        <div class="needs__left">
            <div class="needs__left-wrapper">
                <picture class="needs__picture-lg">
                  <source srcset="./assets/img/webp/page-about-running.webp" media="(min-width: 576px)" width="563" height="662" type="image/webp">
                  <source srcset="./assets/img/webp/page-about-running-mobile.webp" media="(max-width: 575px)" width="418" height="492" type="image/webp">
                  <img loading="lazy" src="./assets/img/webp/page-about-running_2x 2x.webp" srcset="./assets/img/webp/needs-man_2x.webp 2x" alt="man in VR-glasses with arm up">
                </picture>
                <div class="needs__picture-bg"></div>
                <div class="player-block needs__player">
                    <button class="btn-reset player-block__video-play needs__video-play" data-open="video" data-src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerEscapes.mp4" aria-label="play video button">
                        <svg class="player-block__video-svg needs__video-svg">
                          <use xlink:href="assets/svg/sprite.svg#play"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="needs__right">
            <h2 class="section-title needs__title">why needs us</h2>
            <h3 class="section-subtitle needs__subtitle">Why needs Us for Your VR Needs</h3>
            <div class="accordion needs__accordion accordion-needs">
                <div class="accordion__item accordion__item_active accordion-needs__item accordion__item">
                    <button class="btn-reset accordion__control accordion-needs__control" aria-expanded="false">Passionate and Experienced Team
                        <svg class="arrow">
                          <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                    <div class="accordion__content accordion-needs__content" aria-hidden="true">We are proud of our team of VR experts who are passionate about VR and dedicated to delivering the highest quality work. Our team consists of experienced VR developers, designers, and technicians who have a proven track record of creating immersive and engaging VR experiences.
                    </div>
                </div>
                <div class="accordion__item accordion-needs__item">
                    <button class="btn-reset accordion__control accordion-needs__control" aria-expanded="false">Customized Solutions
                        <svg class="arrow">
                            <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                    <div class="accordion__content accordion-needs__content" aria-hidden="true">We are proud of our team of VR experts who are passionate about VR and dedicated to delivering the highest quality work. Our team consists of experienced VR developers, designers, and technicians who have a proven track record of creating immersive and engaging VR experiences.
                    </div>
                </div>
                <div class="accordion__item accordion-needs__item">
                    <button class="btn-reset accordion__control accordion-needs__control" aria-expanded="false">Exceptional Customer Service
                        <svg class="arrow">
                            <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                        </svg>
                    </button>
                    <div class="accordion__content accordion-needs__content" aria-hidden="true">We are proud of our team of VR experts who are passionate about VR and dedicated to delivering the highest quality work. Our team consists of experienced VR developers, designers, and technicians who have a proven track record of creating immersive and engaging VR experiences.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>