<div class="page-name">
  <div class="container page-name__container">
    <h1 class="page-name__title">@@title</h1>
    <nav class="nav page-name__nav" title="Site navigation">
      <ul class="list-reset nav__list page-name__list page-name-list">
        <li class="nav__item page-name__item page-name-list__item"><a href="index.html" class="nav__link page-name__link page-name-list__link">Home</a></li>
        <li class="nav__item page-name__item page-name__item_active page-name-list__item_active">@@title</li>
      </ul>
    </nav>
  </div>
</div>