<section class="section-offset subscribe">
    <div class="container">
        <div class="subscribe__content">
            <h4 class="subscribe__title">Subscribe to our newsletter for latest updates</h4>
            <form action="#" class="subscribe__form">
                <label class="subscribe__label">
                    <input type="email" name="email" required placeholder="Enter your email address" class="subscribe__email">
                </label>
                <button class="btn-reset subscribe__send" aria-label="Subscribe to our newsletter for latest updates">
                    <svg class="subscribe__svg">
                      <use xlink:href="assets/svg/sprite.svg#Send"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</section>