<section class="testimonial">
        <img src="./assets/img/testim-lines.svg" class="testimonial__lines" width="1247" height="1247" alt="">
        <h2 class="section-title testimonial__title">testimonial</h2>
        <h3 class="section-subtitle testimonial__subtitle">What Our Clients Are Saying</h3>

        <div class="testimonial-content">
            <div class="testimonial-client testimonial-client_1">
                <div class="testimonial-client__avatar-bg">
                    <div class="testimonial-client__avatar-img"></div>
                    <div class="testimonial-client__avatar-descr">
                        <p class="testimonial-client__avatar-text">The team was professional, responsive, and a pleasure to work with. We highly recommend VRNas for any VR needs.</p>
                        <span class="testimonial-client__avatar-name">Robert Fox - <span class="testimonial-client__avatar-prof">CEO Anono</span></span>
                    </div>
                </div>
                
            </div>
            <div class="testimonial-client testimonial-client_2">
                <div class="testimonial-client__avatar-bg">
                    <div class="testimonial-client__avatar-img"></div>
                    <div class="testimonial-client__avatar-descr">
                        <p class="testimonial-client__avatar-text">The team was professional, responsive, and a pleasure to work with. We highly recommend VRNas for any VR needs.</p>
                        <span class="testimonial-client__avatar-name">Robert Fox - <span class="testimonial-client__avatar-prof">CEO Anono</span></span>
                    </div>
                </div>
                
            </div>
            <div class="testimonial-client testimonial-client_3">
                <div class="testimonial-client__avatar-bg">
                    <div class="testimonial-client__avatar-img"></div>
                    <div class="testimonial-client__avatar-descr testimonial-client__avatar-descr_cutted">
                        <p class="testimonial-client__avatar-text">The team was professional, responsive, and a pleasure to work with. We highly recommend VRNas for any VR needs.</p>
                        <span class="testimonial-client__avatar-name">Robert Fox - <span class="testimonial-client__avatar-prof">CEO Anono</span></span>
                    </div>
                </div>
                
            </div>
            <div class="testimonial-client testimonial-client_4">
                <div class="testimonial-client__avatar-bg">
                    <div class="testimonial-client__avatar-img"></div>
                    <div class="testimonial-client__avatar-descr testimonial-client__avatar-descr_cutted">
                        <p class="testimonial-client__avatar-text">The team was professional, responsive, and a pleasure to work with. We highly recommend VRNas for any VR needs.</p>
                        <span class="testimonial-client__avatar-name">Robert Fox - <span class="testimonial-client__avatar-prof">CEO Anono</span></span>
                    </div>
                </div>
                
            </div>
            <div class="testimonial-client testimonial-client_5">
                <div class="testimonial-client__avatar-bg">
                    <div class="testimonial-client__avatar-img"></div>
                    <div class="testimonial-client__avatar-descr">
                        <p class="testimonial-client__avatar-text">The team was professional, responsive, and a pleasure to work with. We highly recommend VRNas for any VR needs.</p>
                        <span class="testimonial-client__avatar-name">Robert Fox - <span class="testimonial-client__avatar-prof">CEO Anono</span></span>
                    </div>
                </div>
                
            </div>
            <div class="testimonial-client testimonial-client_6">
                <div class="testimonial-client__avatar-bg">
                    <div class="testimonial-client__avatar-img"></div>
                    <div class="testimonial-client__avatar-descr">
                        <p class="testimonial-client__avatar-text">The team was professional, responsive, and a pleasure to work with. We highly recommend VRNas for any VR needs.</p>
                        <span class="testimonial-client__avatar-name">Robert Fox - <span class="testimonial-client__avatar-prof">CEO Anono</span></span>
                    </div>
                </div>
                
            </div>
            <div class="testimonial-client testimonial-client_center">
                <picture class="testimonial-picture">
                  <source srcset="./assets/img/webp/testim-man.webp" width="663" height="483" media="(min-width: 576px)" type="image/webp">
                  <source srcset="./assets/img/webp/testim-man-mobile.webp" width="535" height="390" media="(max-width: 575px)" type="image/webp">
                  <img loading="lazy" src="./assets/img/webp/testim-man.webp" srcset="./assets/img/webp/testim-man_2x.webp 2x" alt="Happy Client in VR-glasses">
                </picture>
                <img loading="lazy" src="./assets/img/img-light.svg" class="testimonial-svg" width="1062" height="767" alt="Background gradient light">
                
            </div>
            
        </div>
    
</section>