<section class="section-offset page-faq">
    <div class="aside-images">
        <picture class="page-faq__picture aside-images__picture aside-images__picture_left page-faq__picture_left">
            <source srcset="./assets/img/webp/page-about-about-man.webp" media="(min-width: 576px)" width="360" height="520" type="image/webp">
            <source srcset="./assets/img/webp/page-about-about-man-mobile.webp" media="(max-width: 575px)" width="108" height="156" type="image/webp">
            <img loading="lazy" src="./assets/img/webp/page-about-about-man.webp" srcset="./assets/img/webp/page-about-about-man_2x.webp 2x" alt="man in VR-glasses" class="page-faq__picture-img aside-images__picture-img">
          </picture>
        <picture class="page-faq__picture aside-images__picture  aside-images__picture_right page-faq__picture_right">
            <source srcset="./assets/img/webp/page-about-about-man.webp" media="(min-width: 576px)" width="360" height="520" type="image/webp">
            <source srcset="./assets/img/webp/page-about-about-man-mobile.webp" media="(max-width: 575px)" width="108" height="156" type="image/webp">
            <img loading="lazy" src="./assets/img/webp/page-about-about-man.webp" srcset="./assets/img/webp/page-about-about-man_2x.webp 2x" alt="man in VR-glasses" class="page-faq__picture-img aside-images__picture-img">
          </picture>
    </div>
    <div class="container grid">
        <div class="page-faq__content">
            <h2 class="section-title page-faq__title">faq</h2>
            <h3 class="section-subtitle page-faq__subtitle">Frequently Asked Questions</h3>
            <p class="page-faq__descr">
                At VRNas, we want to make sure that you have all the information you need to make informed decisions about our VR services. Here are some of the most common questions we receive:
            </p>
            <div class="page-faq__tab tab-faq">
                <div class="tab-faq__controls">
                    <button class="btn-reset tab-faq__btn tab-faq__btn_all tab-faq__btn_active" data-tab="all">All</button>
                    <button class="btn-reset tab-faq__btn tab-faq__btn_service" data-tab="service">VR Service</button>
                    <button class="btn-reset tab-faq__btn tab-faq__btn_pricing" data-tab="pricing">Pricing</button>
                </div>
                <div class="tab-faq__content">
                    <div class="accordion tab-faq__accordion">
                        <div class="tab-faq__content-item accordion__item accordion__item_active tab-faq__accordion-item" data-tab="all">
                            <button class="btn-reset accordion__control tab-faq__accordion-control" aria-expanded="false">
                                What is virtual reality?
                                <svg class="arrow">
                                    <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <div class="accordion__content tab-faq__accordion-content" aria-hidden="true">
                                Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment. Users can interact with this environment as if it were real, allowing for immersive experiences in gaming, education, training, and more.
                            </div>
                        </div>
                        <div class="tab-faq__content-item accordion__item tab-faq__accordion-item" data-tab="service">
                            <button class="btn-reset accordion__control tab-faq__accordion-control" aria-expanded="false">
                                What types of VR services do you offer?
                                <svg class="arrow">
                                    <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <div class="accordion__content tab-faq__accordion-content" aria-hidden="true">
                                Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment. Users can interact with this environment as if it were real, allowing for immersive experiences in gaming, education, training, and more.
                            </div>
                        </div>
                        <div class="tab-faq__content-item accordion__item tab-faq__accordion-item" data-tab="service">
                            <button class="btn-reset accordion__control tab-faq__accordion-control" aria-expanded="false">
                                What types of VR services do you offer?
                                <svg class="arrow">
                                    <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <div class="accordion__content tab-faq__accordion-content" aria-hidden="true">
                                Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment. Users can interact with this environment as if it were real, allowing for immersive experiences in gaming, education, training, and more.
                            </div>
                        </div>
                        <div class="tab-faq__content-item accordion__item tab-faq__accordion-item" data-tab="service">
                            <button class="btn-reset accordion__control tab-faq__accordion-control" aria-expanded="false">
                                What types of VR services do you offer?
                                <svg class="arrow">
                                    <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <div class="accordion__content tab-faq__accordion-content" aria-hidden="true">
                                Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment. Users can interact with this environment as if it were real, allowing for immersive experiences in gaming, education, training, and more.
                            </div>
                        </div>
                        <div class="tab-faq__content-item accordion__item tab-faq__accordion-item" data-tab="pricing">
                            <button class="btn-reset accordion__control tab-faq__accordion-control" aria-expanded="false">
                                How much does your VR services cost?
                                <svg class="arrow">
                                    <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <div class="accordion__content tab-faq__accordion-content" aria-hidden="true">
                                Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment. Users can interact with this environment as if it were real, allowing for immersive experiences in gaming, education, training, and more.
                            </div>
                        </div>
                        <div class="tab-faq__content-item accordion__item tab-faq__accordion-item" data-tab="pricing">
                            <button class="btn-reset accordion__control tab-faq__accordion-control" aria-expanded="false">
                                How much does your VR services cost?
                                <svg class="arrow">
                                    <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <div class="accordion__content tab-faq__accordion-content" aria-hidden="true">
                                Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment. Users can interact with this environment as if it were real, allowing for immersive experiences in gaming, education, training, and more.
                            </div>
                        </div>
                        <div class="tab-faq__content-item accordion__item tab-faq__accordion-item" data-tab="pricing">
                            <button class="btn-reset accordion__control tab-faq__accordion-control" aria-expanded="false">
                                How much does your VR services cost?
                                <svg class="arrow">
                                    <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <div class="accordion__content tab-faq__accordion-content" aria-hidden="true">
                                Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment. Users can interact with this environment as if it were real, allowing for immersive experiences in gaming, education, training, and more.
                            </div>
                        </div>
                        <div class="tab-faq__content-item accordion__item tab-faq__accordion-item" data-tab="all">
                            <button class="btn-reset accordion__control tab-faq__accordion-control" aria-expanded="false">
                                What equipment do I need to use your VR services?
                                <svg class="arrow">
                                    <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <div class="accordion__content tab-faq__accordion-content" aria-hidden="true">
                                Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment. Users can interact with this environment as if it were real, allowing for immersive experiences in gaming, education, training, and more.
                            </div>
                        </div>
                        <div class="tab-faq__content-item accordion__item tab-faq__accordion-item" data-tab="all">
                            <button class="btn-reset accordion__control tab-faq__accordion-control" aria-expanded="false">
                                What equipment do I need to use your VR services?
                                <svg class="arrow">
                                    <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <div class="accordion__content tab-faq__accordion-content" aria-hidden="true">
                                Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment. Users can interact with this environment as if it were real, allowing for immersive experiences in gaming, education, training, and more.
                            </div>
                        </div>
                        <div class="tab-faq__content-item accordion__item tab-faq__accordion-item" data-tab="all">
                            <button class="btn-reset accordion__control tab-faq__accordion-control" aria-expanded="false">
                                What equipment do I need to use your VR services?
                                <svg class="arrow">
                                    <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <div class="accordion__content tab-faq__accordion-content" aria-hidden="true">
                                Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment. Users can interact with this environment as if it were real, allowing for immersive experiences in gaming, education, training, and more.
                            </div>
                        </div>
                        <div class="tab-faq__content-item accordion__item tab-faq__accordion-item" data-tab="all">
                            <button class="btn-reset accordion__control tab-faq__accordion-control" aria-expanded="false">
                                Can I try out your VR services before I commit?
                                <svg class="arrow">
                                    <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <div class="accordion__content tab-faq__accordion-content" aria-hidden="true">
                                Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment. Users can interact with this environment as if it were real, allowing for immersive experiences in gaming, education, training, and more.
                            </div>
                        </div>
                        <div class="tab-faq__content-item accordion__item tab-faq__accordion-item" data-tab="all">
                            <button class="btn-reset accordion__control tab-faq__accordion-control" aria-expanded="false">
                                Can I try out your VR services before I commit?
                                <svg class="arrow">
                                    <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <div class="accordion__content tab-faq__accordion-content" aria-hidden="true">
                                Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment. Users can interact with this environment as if it were real, allowing for immersive experiences in gaming, education, training, and more.
                            </div>
                        </div>
                        <div class="tab-faq__content-item accordion__item tab-faq__accordion-item" data-tab="all">
                            <button class="btn-reset accordion__control tab-faq__accordion-control" aria-expanded="false">
                                Can I try out your VR services before I commit?
                                <svg class="arrow">
                                    <use xlink:href="assets/svg/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <div class="accordion__content tab-faq__accordion-content" aria-hidden="true">
                                Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment. Users can interact with this environment as if it were real, allowing for immersive experiences in gaming, education, training, and more.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>