@mixin circleImages($nb-items, $circle-size, $max-width, $min-width) {
    $maxW: 1054;
    $minW: 430;
    $addSize: $max-width - $min-width;
    $half-parent: calc((#{$addSize} / (#{$maxW} - #{$minW}) * ((100vw - #{$minW + px})) + #{$min-width + px}));
    $angle: (180 / ($nb-items - 1));
    $rot: 180;
    @for $i from 1 through $nb-items {
        >:nth-of-type(#{$i}) {
            
            transform: rotate($rot * 1deg) translate(calc(-50% + #{$half-parent}), 0) rotate($rot * -1deg);
        }
        $rot: ($rot + $angle);
    }
}