@mixin circleGradient {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        border-radius: 100%;
        border: 1px solid transparent;
        background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%) border-box;
        -webkit-mask: 
            linear-gradient(#fff 0 0) padding-box, 
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor; 
        mask-composite: exclude; 
    }
}