<section class="section-offset page404 page-common">
    <div class="page404__container">
        <div class="page404__left">
            <h2 class="section-title page404__title">404 Error</h2>
            <h3 class="section-subtitle page404__subtitle">Page Not Found</h3>
            <span class="page404__list-header page-common__list-header">Oops! It looks like the page you were looking for is not here. Here are some possible reasons why:</span>
            <ul class="list-reset page404__list page-common__list">
                <li class="page404__list-item page-common__list-item">
                    The page may have been moved or deleted.
                </li>
                <li class="page404__list-item page-common__list-item">
                    You may have mistyped the URL.
                </li>
                <li class="page404__list-item page-common__list-item">
                    There may be a temporary problem with our server.
                </li>
            </ul>
            <span class="page404__list-header page-common__list-header">You can try the following options to find what you're looking for:</span>
            <ul class="list-reset page404__list page-common__list">
                <li class="page404__list-item page-common__list-item">
                    Check the URL for typos or errors and try again.
                </li>
                <li class="page404__list-item page-common__list-item">
                    Go back to our homepage and browse from there.
                </li>
            </ul>
            <p class="page-common__paragraph-text">If you believe there's an issue with our website, please contact us using the information provided on our contact page.</p>

            <a href="index.html" class="btn-reset btn btn_primary page404__btn">back home</a>
        </div>
        <div class="page404__right">
            <picture class="page404__picture">
                <source srcset="./assets/img/webp/testim-man.webp" width="663" height="483" type="image/webp">
                <img loading="lazy" src="./assets/img/webp/testim-man.webp" srcset="./assets/img/webp/testim-man_2x.webp 2x" alt="Happy Client in VR-glasses" class="page404__picture-img">
            </picture>
        </div>
    </div>
</section>