<div class="page-contacts-address">
    <div class="container page-contacts-address__container grid">
        <div class="page-contacts-address__item item-contacts">
            <div class="item-contacts__icon">
                <svg class="item-contacts__svg">
                  <use xlink:href="assets/svg/sprite.svg#mail"></use>
                </svg>
            </div>
            <h2 class="section-title item-contacts__name">EMAIL</h2>
            <a target="_blank" href="mailto:Support@VRNas.com" class="item-contacts__link">Support@VRNas.com</a>
        </div>
        <div class="page-contacts-address__item item-contacts">
            <div class="item-contacts__icon">
                <svg class="item-contacts__svg">
                    <use xlink:href="assets/svg/sprite.svg#Location"></use>
                  </svg>
            </div>
            <h2 class="section-title item-contacts__name">ADDRESS</h2>
            <address class="item-contacts__address">Tanjung Sari Street no.48, Pontianak City</address>
        </div>
        <div class="page-contacts-address__item item-contacts">
            <div class="item-contacts__icon">
                <svg class="item-contacts__svg">
                    <use xlink:href="assets/svg/sprite.svg#phone"></use>
                  </svg>
            </div>
            <h2 class="section-title item-contacts__name">PHONE</h2>
            <a target="_blank" href="tel:+1234567890" class="item-contacts__link">+123 456 7890</a>
        </div>
    </div>
</div>