.articles {
    position: relative;
    z-index: 5;
    &__container {
        max-width: 1440px; //1350px
        margin: 0 auto; //000auto
        padding: 0 0 0 15px;
        @include desktop-md {
            margin: 0 auto;
            padding: 0 15px 0 15px;
        }
    }
    &__img-light {
        position: absolute;
        top: 200px;
        left: -100px;
    }
    &__img-grid {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: unset;
        z-index: -1;
        @include mobile {
            left: -90%;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 120px 72px 0;
        @include desktop-md {
            justify-content: center;
            padding: 0 0 72px 0;
        }
        @include mobile {
            padding: 0 0 40px 0;
            justify-content: flex-start;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include desktop-md {
            flex-direction: column;
            align-items: center;
            gap: 32px; //67px
        }
    }
    &__subscribe {
        background: $gradient;
    }
}

.articles-all {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    max-width: 142px;
}
.header-articles {

    &__titles {
        @include desktop-md {
            text-align: center;
        }
        @include mobile {
            text-align: left;
        }
    }

    &__title {
        padding-bottom: 12px;
    }


    &__all {
        @include desktop-md {
            display: none;
        }
    }
}
.content-articles {

    &__left {
        padding-top: 32px;
        width: 636px;
        @include desktop-md {
            padding-top: 0;
        }
        @include tablet-sm {
            @include adaptive-size('width', 636, 398, 767, 430);
        }
        @include mobile {
            width: 100%;
        }
    }


    &__title {
        font-weight: 600;
        font-size: 28px;
        letter-spacing: -0.01em;
        line-height: 140%;
        color: $greyscale-white;
        margin: 0;
        padding-bottom: 32px;
    }

    &__right {
        flex-grow: 1;
        padding: 32px 90px 30px 97px;
        background: $greyscale-black-80;
        margin-left: -46px;
        width: 730px;
        @include desktop-lg {
            padding: 32px 25px 30px 97px;
        }
        @include desktop-md {
            margin-left: 0;
            width: 636px;
            padding: 32px 25px 30px 32px;
        }
        @include tablet-sm {
            @include adaptive-size('width', 636, 398, 767, 430);
        }
        @include mobile {
            width: 100%;
            padding: 32px 20px 30px 16px;
        }
    }

    &__list {
        max-height: 502px;
        overflow-y: scroll;
        padding-right: 46px;

        &::-webkit-scrollbar {
            width: 2px;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #fff;
        }
        &::-webkit-scrollbar-track {
            background-color: rgba(#fff, .12);
        }
        @include mobile {
            padding-right: 8px;
        }
    }

    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 32px;
        
        &:nth-child(n):not(:last-child) {
            margin-bottom: 32px;
            border-bottom: 1px solid rgba(#fff, 0.15);
        }
    }

    &__all {
        display: none;
        @include desktop-md {
            display: flex;
        }
    }
}
.content-articles-swiper {

    &__slide {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        padding: 24px;
        width: 100%;
        min-height: 425px;
        box-sizing: border-box;
    }

    &__pagination {
        position: static !important;
        padding-top: 44px;
        .swiper-pagination-bullet {
            width: 9px;
            height: 3px;
            background: rgba(255, 255, 255, 0.31);
            border-radius: 32px;
        }
        .swiper-pagination-bullet-active {
            width: 17px;
            background-color: $greyscale-white;
        }
    }
    &__pagination-bullet {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #fff;
        &_active {
            background-color: red !important;
        }
    }

    &__picture {
        position: absolute;
        inset: 0;
        
    }

    &__descr {
        position: absolute;
        bottom: 24px;
        left: 24px;
        right: 24px;
    }
    &__img {
        @include tablet-sm {
            height: 100%;
        }
    }

    &__badge {
        position: relative;
        margin-bottom: 12px;
        z-index: 9;
    }

    &__links {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 30px;
        z-index: 9;
    }

    &__link {
        font-weight: 600;
        font-size: 32px;
        letter-spacing: -0.01em;
        color: $greyscale-white;
        @include tablet {
            font-size: 26px;
        }
        @include mobile {
            font-weight: 500;
            font-size: 20px;
        }
        
    }

    &__arrow {
        width: 50px;
        height: 50px;
        flex-shrink: 0;
    }

}
.item-articles {

    &__img {
        margin-right: 21px;
    }

    &__content {
        margin-right: 13px;
    }

    &__badge {
        margin-bottom: 8px;
    }

    &__link {
        display: block;
        font-weight: 400;
        font-size: 18px;
        color: $greyscale-white;
        line-height: 140%;
        @include mobile {
            font-weight: 600;
            font-size: 16px;
        }
    }

    &__btn {
        flex-shrink: 0;
        width: 50px;
        height: 50px;
        @include tablet {
            display: none;
        }
    }
}

