<section class="about section-offset">
    <div class="container grid about__container">
        <div class="about__left">
            <div class="about__left-wrapper">
                <picture class="about__picture-lg">
                  <source srcset="./assets/img/webp/about-man.webp" media="(min-width: 576px)" width="518" height="622" type="image/webp">
                  <source srcset="./assets/img/webp/about-man-mobile.webp" media="(max-width: 575px)" width="389" height="467" type="image/webp">
                  <img loading="lazy" src="./assets/img/webp/about-man.webp" srcset="./assets/img/webp/about-man_2x.webp 2x" alt="man in VR-glasses with arm up">
                </picture>
                <div class="about__picture-bg"></div>
                <div class="player-block about__player">
                    <button class="btn-reset player-block__video-play about__video-play">
                        <svg class="player-block__video-svg about__video-svg">
                          <use xlink:href="assets/svg/sprite.svg#play"></use>
                        </svg>
                    </button>
                </div>
            </div>
            
        </div>
        <div class="about__right">
            <h2 class="section-title about__title">about us</h2>
            <h3 class="section-subtitle about__subtitle">
                Bring your events to life like never before with our VR services.
            </h3>
            <p class="about__descr">VRNas is a leading provider of VR services for education, entertainment, architecture, and events. Our mission is to bring the power of virtual reality to everyone, allowing them to explore new worlds, learn in new ways, and experience events in a whole new light.
            </p>
            <ul class="list-reset about__list">
                <li class="about__list-item">Cutting-Edge Technology</li>
                <li class="about__list-item">Versatile Applications</li>
                <li class="about__list-item">Affordable and Accessible</li>
            </ul>
            <button class="btn-reset btn btn_primary about__more">read more</button>
        </div>
    </div>
</section>