<section class="section-offset articles">
    <img src="./assets/img/img-light.svg" loading="lazy" width="619" height="485" class="articles__img-light" alt="articles section background gradient">
    <img loading="lazy" src="./assets/img/webp/grid-bg.webp" class="articles__img-grid" width="1097" height="721" alt="articles section background grid">
    <div class="articles__container">
        <div class="articles__header header-articles">
            <div class="header-articles__titles">
                <h2 class="section-title header-articles__title">our articles</h2>
                <h3 class="section-subtitle header-articles__subtitle">Stay Up-to-Date with Our VR Insights</h3>
            </div>
            <a class="btn-reset btn btn_secondary header-articles__all articles-all">see all</a>
        </div>
        <div class="articles__content content-articles">
            <div class="content-articles__left">
                <h4 class="content-articles__title">Popular Article</h4>
                <div class="content-articles-swiper swiper">
                    <div class="content-articles-swiper__wrapper swiper-wrapper">
                        <div class="content-articles-swiper__slide swiper-slide">
                            <picture class="content-articles-swiper__picture">
                                <source srcset="./assets/img/webp/articles-slide.webp" media="(min-width: 576px)" type="image/webp">
                                <source srcset="./assets/img/webp/articles-slide-mobile.webp" media="(min-width: 575px)" type="image/webp">
                                <img loading="lazy" src="./assets/img/webp/articles-slide.webp" srcset="./assets/img/webp/articles-slide_2x.webp 2x" class="content-articles-swiper__img" width="636" height="425" alt="Entertainment Goes Virtual: The Rise of VR Gaming">
                            </picture>
                            <div class="content-articles-swiper__descr">
                                <div class="badge content-articles-swiper__badge">VR Games</div>
                                <div class="content-articles-swiper__links">
                                <a href="#" class="content-articles-swiper__link">Entertainment Goes Virtual: The Rise of VR Gaming Slide 1</a>
                                <a href="#" class="btn btn_secondary btn_arrow content-articles-swiper__arrow" aria-label="Entertainment Goes Virtual: The Rise of VR Gaming"></a>
                                </div>
                            </div>
                        </div>
                        <div class="content-articles-swiper__slide swiper-slide">
                            <picture class="content-articles-swiper__picture">
                                <source srcset="./assets/img/webp/articles-slide.webp" media="(min-width: 576px)" type="image/webp">
                                <source srcset="./assets/img/webp/articles-slide-mobile.webp" media="(min-width: 575px)" type="image/webp">
                                <img loading="lazy" src="./assets/img/webp/articles-slide.webp" srcset="./assets/img/webp/articles-slide_2x.webp 2x" class="content-articles-swiper__img" width="636" height="425" alt="Entertainment Goes Virtual: The Rise of VR Gaming">
                            </picture>
                            <div class="content-articles-swiper__descr">
                                <div class="badge content-articles-swiper__badge">VR Games</div>
                                <div class="content-articles-swiper__links">
                                <a href="#" class="content-articles-swiper__link">Entertainment Goes Virtual: The Rise of VR Gaming Slide 2</a>
                                <a href="#" class="btn btn_secondary btn_arrow content-articles-swiper__arrow" aria-label="Entertainment Goes Virtual: The Rise of VR Gaming"></a>
                                </div>
                            </div>
                        </div>
                        <div class="content-articles-swiper__slide swiper-slide">
                            <picture class="content-articles-swiper__picture">
                                <source srcset="./assets/img/webp/articles-slide.webp" media="(min-width: 576px)" type="image/webp">
                                <source srcset="./assets/img/webp/articles-slide-mobile.webp" media="(min-width: 575px)" type="image/webp">
                                <img loading="lazy" src="./assets/img/webp/articles-slide.webp" srcset="./assets/img/webp/articles-slide_2x.webp 2x" class="content-articles-swiper__img" width="636" height="425" alt="Entertainment Goes Virtual: The Rise of VR Gaming">
                            </picture>
                            <div class="content-articles-swiper__descr">
                                <div class="badge content-articles-swiper__badge">VR Games</div>
                                <div class="content-articles-swiper__links">
                                <a href="#" class="content-articles-swiper__link">Entertainment Goes Virtual: The Rise of VR Gaming Slide 3</a>
                                <a href="#" class="btn btn_secondary btn_arrow content-articles-swiper__arrow" aria-label="Entertainment Goes Virtual: The Rise of VR Gaming"></a>
                                </div>
                            </div>
                        </div>
                        <div class="content-articles-swiper__slide swiper-slide">
                            <picture class="content-articles-swiper__picture">
                                <source srcset="./assets/img/webp/articles-slide.webp" media="(min-width: 576px)" type="image/webp">
                                <source srcset="./assets/img/webp/articles-slide-mobile.webp" media="(min-width: 575px)" type="image/webp">
                                <img loading="lazy" src="./assets/img/webp/articles-slide.webp" srcset="./assets/img/webp/articles-slide_2x.webp 2x" class="content-articles-swiper__img" width="636" height="425" alt="Entertainment Goes Virtual: The Rise of VR Gaming">
                            </picture>
                            <div class="content-articles-swiper__descr">
                                <div class="badge content-articles-swiper__badge">VR Games</div>
                                <div class="content-articles-swiper__links">
                                <a href="#" class="content-articles-swiper__link">Entertainment Goes Virtual: The Rise of VR Gaming Slide 4</a>
                                <a href="#" class="btn btn_secondary btn_arrow content-articles-swiper__arrow" aria-label="Entertainment Goes Virtual: The Rise of VR Gaming"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-articles-swiper__pagination swiper-pagination"></div>
                </div>
            </div>
            <div class="content-articles__right">
                <h4 class="content-articles__title">Recent Article</h4>
                <ul class="list-reset content-articles__list">
                    <li class="content-articles__item item-articles">
                        <img src="./assets/img/webp/recent-future.webp" width="142" height="91" loading="lazy" class="item-articles__img" alt="VR Education">
                        <div class="item-articles__content">
                            <div class="badge item-articles__badge">VR Education</div>
                            <a href="#" class="item-articles__link">The Future of Education: How VR is Revolutionizing the Classroom</a>
                        </div>
                        <a href="#" class="btn btn_secondary btn_arrow item-articles__btn" aria-label="The Future of Education: How VR is Revolutionizing the Classroom"></a>
                    </li>
                    <li class="content-articles__item item-articles">
                        <img src="./assets/img/webp/recent-architecture.webp" width="142" height="91" loading="lazy"  class="item-articles__img" alt="VR Architecture">
                        <div class="item-articles__content">
                            <div class="badge item-articles__badge">VR Architecture</div>
                            <a href="#" class="item-articles__link">Bringing Designs to Life: How VR is Changing Architecture</a>
                        </div>
                        <a href="#" class="btn btn_secondary btn_arrow item-articles__btn" aria-label="Bringing Designs to Life: How VR is Changing Architecture"></a>
                    </li>
                    <li class="content-articles__item item-articles">
                        <img src="./assets/img/webp/recent-entertainment.webp" width="142" height="91" loading="lazy"  class="item-articles__img" alt="VR Entertainment">
                        <div class="item-articles__content">
                            <div class="badge item-articles__badge">VR Entertainment</div>
                            <a href="#" class="item-articles__link">Making Events Memorable: The Power of VR for Corporate and Special Occasions</a>
                        </div>
                        <a href="#" class="btn btn_secondary btn_arrow item-articles__btn" aria-label="Making Events Memorable: The Power of VR for Corporate and Special Occasions"></a>
                    </li>
                    <li class="content-articles__item item-articles">
                        <img src="./assets/img/webp/recent-event.webp" width="142" height="91" loading="lazy"  class="item-articles__img" alt="VR Event">
                        
                        <div class="item-articles__content">
                            <div class="badge item-articles__badge">VR Event</div>
                            <a href="#" class="item-articles__link">Exploring New Worlds: The Benefits of VR Travel</a>
                        </div>
                        <a href="#" class="btn btn_secondary btn_arrow item-articles__btn" aria-label="Exploring New Worlds: The Benefits of VR Travel"></a>
                    </li>
                </ul>
            </div>
            <a class="btn-reset btn btn_secondary content-articles__all articles-all">see all</a>
        </div>
        <div class="articles__subscribe subscribe-articles">
            <div class="container subscribe-articles__container">
                <h4 class="subscribe-articles__title">Subscribe to our newsletter for latest updates</h4>
                <form action="#" class="subscribe-articles__form">
                    <label class="subscribe-articles__label">
                        <input type="email" name="email" placeholder="Enter your email address" class="subscribe-articles__email">
                    </label>
                    <button class="btn-reset subscribe-articles__send" aria-label="Subscribe to our newsletter for latest updates">
                        <svg class="subscribe-articles__svg">
                          <use xlink:href="assets/svg/sprite.svg#Send"></use>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>