<section class="section-offset companies">
    <div class="companies__container">
        <h2 class="section-title companies__title">our trusted partners</h2>
        <h3 class="section-subtitle companies__subtitle">Discover the Companies We Work With</h3>
        <div class="companies__content content-companies">
            <img loading="lazy" src="./assets/img/companies-lines.svg" class="content-companies__svg" width="1054" height="540" alt="companies lines">
            
            <div class="content-companies__center">
                <picture class="content-companies__picture picture-companies">
                    <source srcset="./assets/img/webp/companies-man.webp" media="(min-width: 576px)" width="707" height="555" type="image/webp">
                    <img loading="lazy" src="./assets/img/webp/companies-man.webp" class="picture-companies__img" width="707" height="555" alt="Man in VR-glasses">
                </picture>
                <div class="content-companies__items">
                    <div class="content-companies__item content-companies__item_1">
                        <div class="content-companies__item-img">
                            <svg class="content-companies__item-svg">
                                <use xlink:href="assets/svg/sprite.svg#partners-logo-1"></use>
                            </svg>    
                        </div>
                    </div>
                    <div class="content-companies__item content-companies__item_2">
                        <div class="content-companies__item-img">
                            <svg class="content-companies__item-svg">
                                <use xlink:href="assets/svg/sprite.svg#partners-logo-2"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="content-companies__item content-companies__item_3">
                        <div class="content-companies__item-img">
                            <svg class="content-companies__item-svg">
                                <use xlink:href="assets/svg/sprite.svg#partners-logo-3"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="content-companies__item content-companies__item_4">
                        <div class="content-companies__item-img">
                            <svg class="content-companies__item-svg">
                                <use xlink:href="assets/svg/sprite.svg#partners-logo-4"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="content-companies__item content-companies__item_5">
                        <div class="content-companies__item-img">
                            <svg class="content-companies__item-svg">
                                <use xlink:href="assets/svg/sprite.svg#partners-logo-5"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="content-companies__item content-companies__item_6">
                        <div class="content-companies__item-img">
                            <svg class="content-companies__item-svg">
                                <use xlink:href="assets/svg/sprite.svg#partners-logo-6"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="content-companies__item content-companies__item_7">
                        <div class="content-companies__item-img">
                            <svg class="content-companies__item-svg">
                                <use xlink:href="assets/svg/sprite.svg#partners-logo-7"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>