<section class="section-offset service">
    <div class="container grid">
        <!-- <div class="service__top"> -->
            <div class="service__titles">
                <h2 class="section-title service__title">our service</h2>
                <h3 class="section-subtitle service__subtitle">Our Service</h3>
            </div>
            <p class="service__text">We use the latest VR hardware and software to create high-quality VR experiences that are accessible and affordable. Our goal is to provide exceptional customer service and support, and our team is always available to answer any questions and address any concerns you may have.
            </p>
        <!-- </div> -->
        <div class="service__cards grid">
            <article class="service-card service-card_1">
                <h4 class="service-card__title">VR Development</h4>
                <p class="service-card__descr">From concept to creation, our team of VR developers will bring your vision to life.</p>
            </article>
            <article class="service-card service-card_2">
                <h4 class="service-card__title">VR Design</h4>
                <p class="service-card__descr">Our talented VR designers will create immersive and engaging environments that will captivate your audience.</p>
            </article>
            <article class="service-card service-card_3">
                <h4 class="service-card__title">VR Consulting</h4>
                <p class="service-card__descr">Our VR consultants will work with you to ensure that your VR experience meets your goals and exceeds your expectations.</p>
            </article>
            <article class="service-card service-card_4">
                <h4 class="service-card__title">VR Game</h4>
                <p class="service-card__descr">We offer a wide selection of VR games that are suitable for players of all ages and skill levels.</p>
            </article>
            <article class="service-card service-card_5">
                <h4 class="service-card__title">VR Events</h4>
                <p class="service-card__descr">Make your next event unforgettable with our VR event services.</p>
            </article>
            <article class="service-card service-card_6">
                <h4 class="service-card__title">VR Entertainment</h4>
                <p class="service-card__descr">Сreate a VR escape room, or offer VR experiences at a theme park, we have the expertise and experience to make it happen.</p>
            </article>
        </div>
    </div>
</section>