.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px 0;
    min-height: 114px;
    z-index: 10;
    &_scrolling {
        border-bottom: 1px solid $main-colors-blue;
        background-color: $greyscale-black-100;
    }

    &__under {
        z-index: 100;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    

    &__logo {
        max-width: 101px;
        max-height: 30px;
    }

    &__contact-btn {
        max-width: 123px;
        padding: 11px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mobile {
            display: none;
        }
    }
    &__nav {
        @include tablet {
            display: none;
        }
        padding-bottom: 10px;
    }

    &__nav-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 64px;
        font-weight: 300;
        line-height: 175%;
        color: $greyscale-white;
    }

    &__nav-item {
        position: relative;
        display: block;
        flex-shrink: 0;
        &_more {
            display: flex;
            align-items: center;
            gap: 7px;
            cursor: pointer;
        }
    }

    &__accordion {
        display: flex;
        align-items: center;
        gap: 64px;
    }
}
.logo {
    transition: .3s transform ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}
.nav {
    &__item-svg {
        width: 10px;
        height: 7px;
        use {
            fill: $greyscale-white
        }
    }


    &__sublist {
        position: absolute;
        top: calc(100% + 20px);
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        font-weight: 300;
        line-height: 175%;
        padding: 10px;
        color: $greyscale-white;
        box-shadow: 0 0 10px 0 rgba($main-colors-blue, .9);
        background-color: $main-colors-blue;
        z-index: 20;
    }

    &__subitem {
        white-space: nowrap;
    }

}
.burger {
    @include burger;
}

.nav-link {
    color: inherit;
    transition: .2s color ease-in-out;
    &:hover {
        color: $main-colors-purple;
    }
}

.accordion-header {
    &__control {
        font-size: 16px;
        font-weight: 300;
    }
    &__item {
        position: relative;
    }
}