<section class="blog-list">
    <div class="container">
        <div class="swiper blog-list__swiper">
            <div class="swiper-wrapper blog-list__swiper-wrapper">
                <div class="swiper-slide blog-list__swiper-slide grid">
                    <article class="blog-list-item blog-list__item">
                        <img loading="lazy" src="./assets/img/webp/blog-1.webp" class="blog-list-item__img" width="377" height="252" alt="Entertainment Goes Virtual: The Rise of VR Gaming">
                        <div class="blog-list-item__badge badge">VR Games</div>
                        <span class="blog-list-item__name">Entertainment Goes Virtual: The Rise of VR Gaming</span>
                        <a href="blog-detail.html" class="blog-list-item__more">read more</a>
                    </article>
                    <article class="blog-list-item blog-list__item">
                        <img loading="lazy" src="./assets/img/webp/blog-2.webp" class="blog-list-item__img" width="377" height="252" alt="Entertainment Goes Virtual: The Rise of VR Gaming">
                        <div class="blog-list-item__badge badge">VR Games</div>
                        <span class="blog-list-item__name">Entertainment Goes Virtual: The Rise of VR Gaming</span>
                        <a href="blog-detail.html" class="blog-list-item__more">read more</a>
                    </article>
                    <article class="blog-list-item blog-list__item">
                        <img loading="lazy" src="./assets/img/webp/blog-3.webp" class="blog-list-item__img" width="377" height="252" alt="Making Events Memorable: The Power of VR for Corporate and Special Occasions">
                        <div class="blog-list-item__badge badge">VR Entertainment </div>
                        <span class="blog-list-item__name">Making Events Memorable: The Power of VR for Corporate and Special Occasions</span>
                        <a href="blog-detail.html" class="blog-list-item__more">read more</a>
                    </article>
                    <article class="blog-list-item blog-list__item">
                        <img loading="lazy" src="./assets/img/webp/blog-4.webp" class="blog-list-item__img" width="377" height="252" alt="Entertainment Goes Virtual: The Rise of VR Gaming">
                        <div class="blog-list-item__badge badge">VR Event</div>
                        <span class="blog-list-item__name">Exploring New Worlds: The Benefits of VR Travel</span>
                        <a href="blog-detail.html" class="blog-list-item__more">read more</a>
                    </article>
                    <article class="blog-list-item blog-list__item">
                        <img loading="lazy" src="./assets/img/webp/blog-5.webp" class="blog-list-item__img" width="377" height="252" alt="Bringing Designs to Life: How VR is Changing Architecture">
                        <div class="blog-list-item__badge badge">VR Architecture</div>
                        <span class="blog-list-item__name">Bringing Designs to Life: How VR is Changing Architecture</span>
                        <a href="blog-detail.html" class="blog-list-item__more">read more</a>
                    </article>
                    <article class="blog-list-item blog-list__item">
                        <img loading="lazy" src="./assets/img/webp/blog-6.webp" class="blog-list-item__img" width="377" height="252" alt="Entertainment Goes Virtual: The Rise of VR Gaming">
                        <div class="blog-list-item__badge badge">VR Games</div>
                        <span class="blog-list-item__name">Entertainment Goes Virtual: The Rise of VR Gaming</span>
                        <a href="blog-detail.html" class="blog-list-item__more">read more</a>
                    </article>
                    <article class="blog-list-item blog-list__item">
                        <img loading="lazy" src="./assets/img/webp/blog-7.webp" class="blog-list-item__img" width="377" height="252" alt="Entertainment Goes Virtual: The Rise of VR Gaming">
                        <div class="blog-list-item__badge badge">VR Games</div>
                        <span class="blog-list-item__name">Entertainment Goes Virtual: The Rise of VR Gaming</span>
                        <a href="blog-detail.html" class="blog-list-item__more">read more</a>
                    </article>
                    <article class="blog-list-item blog-list__item">
                        <img loading="lazy" src="./assets/img/webp/blog-8.webp" class="blog-list-item__img" width="377" height="252" alt="Entertainment Goes Virtual: The Rise of VR Gaming">
                        <div class="blog-list-item__badge badge">VR Games</div>
                        <span class="blog-list-item__name">Entertainment Goes Virtual: The Rise of VR Gaming</span>
                        <a href="blog-detail.html" class="blog-list-item__more">read more</a>
                    </article>
                    <article class="blog-list-item" blog-list__item>
                        <img loading="lazy" src="./assets/img/webp/blog-9.webp" class="blog-list-item__img" width="377" height="252" alt="The Future of Education: How VR is Revolutionizing the Classroom">
                        <div class="blog-list-item__badge badge">VR Education</div>
                        <span class="blog-list-item__name">The Future of Education: How VR is Revolutionizing the Classroom</span>
                        <a href="blog-detail.html" class="blog-list-item__more">read more</a>
                    </article>
                </div>  
            </div>
            <div class="swiper-pagination blog-list__swiper-pagination"></div>
        </div>
    </div>
</section>