.about {
    &__container {
        @include tablet {
            align-items: center;
        }
    }
    &__left {
        grid-column: 1 / span 6;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        @include tablet {
            justify-content: center;
            grid-column: 1 / span 12;
            padding: 125px 0 65px 0;
        }
        @include tablet-sm {
            justify-content: flex-start;
            grid-column: span 4;
        }
        @include mobile {
            padding: 95px 0 65px 0;
        }
    }

    &__left-wrapper {
        position: relative;
        width: 398px;
        height: 496px;
        top: 125px;
        background: $greyscale-black-80;
        @include tablet {
            top: 0;
            right: 0;
        }
        @include mobile {
            width: 296px;
            height: 370px;
        }
    }


    &__player {
        width: 196px;
        height: 128px;
        background: url('../assets/img/webp/choose-glasses.webp') center center/cover no-repeat, $greyscale-black-80;

        position: absolute;
        bottom: -23px;
        right: -128px;
        z-index: 9;

        @include desktop-md{
            right: -50px;
        }
        @include mobile {
            width: 147px;
            height: 96px;
        }
    }


    &__picture-lg {
        position: absolute;
        bottom: 0;
        left: 20px;
        width: 518px;
        @include desktop-lg {
            @include adaptive-size('width', 518, 480, 1399, 992);
        }
        @include tablet {
            width: 518px;
        }
        @include mobile {
            width: 418px;
        }
    }
    &__picture-bg {
        width: 398px;
        height: 496px;
        &::before {
            content: url('../assets/img/img-light.svg');
            display: block;
            position: absolute;
            top: 0;
            right: -35%;
            z-index: 1;
            @include desktop-md {
                right: -60%;
            }
            @include mobile {
                right: -80%;
                top: -30%;
            }
        }
    }

    &__right {
        padding: 80px 0 0 0;
        grid-column: span 6;
        @include tablet {
            padding: 0;
            grid-column: 1 / span 12;
        }
        @include tablet-sm {
            padding: 0;
            grid-column: span 4;
        }
    }

    &__title {
        margin-bottom: 12px;
    }

    &__subtitle {
        margin-bottom: 12px;
    }

    &__descr {
        font-weight: 300;
        font-size: 16px;
        line-height: 175%;
        color: $greyscale-grey-2;
        margin: 0;
        margin-bottom: 24px;
    }

    &__list {
        margin-bottom: 32px;
    }

    &__list-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: $greyscale-white;
        &::before {
            content: url('../assets/img/about-checkbox.svg');
            margin-right: 12px;
        }
        &:nth-child(n):not(:last-child) {
            margin-bottom: 14px;
        }
    }

    &__more {
        width: 168px;
        height: 50px;
    }
}
