.about {
    padding-bottom: 23px;
    &__container {
        @include tablet {
            align-items: center;
        }
    }
    &__left {
        position: relative;
        grid-column: 1 / span 6;
        @include tablet-sm {
            margin-bottom: 65px;
        }
    }

    &__left-wrapper {
        position: relative;
        &::after {
            content: '';
            width: 398px;
            height: 496px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $greyscale-black-80;
            z-index: 0;
            @include desktop-md {
                @include adaptive-size('width', 398, 350, 1199, 768);
                @include adaptive-size('height', 496, 340, 1199, 768);
            }
        }

        @include tablet-sm {
            &::after {
                width: 398px;
                height: 496px;
            }
        }
        @include mobile {
            &::after {
                width: 300px;
                height: 370px;
            }
        }
    }


    &__player {
        width: 196px;
        min-height: 128px;
        position: absolute;
        bottom: -23px;
        right: 50px;
        z-index: 9;
        @include tablet {
            right: 0;
        }
        @include tablet-sm {
            @include adaptive-size('right', 230, 30, 767, 576);
        }
        @include mobile {
            @include adaptive-size('right', 120, 0, 575, 430);
            width: 147px;
            height: 96px;
        }
        @media(max-width: "429px") {
            right: 0;
        }
    }

    &__video {
        @include mobile {
            width: 100%;
            height: 100%;
        }
    }

    &__picture-lg {
        position: relative;
        left: 20px;
        z-index: 9;
        // @include tablet-sm {
        //     @include adaptive-size('left', 85, 10, 767, 430);
            
        // }
    }
    &__picture-sm {
        position: relative;
        z-index: 1;
    }

    &__picture-img {
    }

    &__video-play {
    }

    &__video-svg {
    }

    &__right {
        padding: 80px 0 0 0;
        grid-column: span 6;
        @include tablet {
            padding: 0;
        }
    }

    &__title {
        margin-bottom: 12px;
    }

    &__subtitle {
        margin-bottom: 12px;
    }

    &__descr {
        font-weight: 300;
        font-size: 16px;
        line-height: 175%;
        color: $greyscale-grey-2;
        margin: 0;
        margin-bottom: 24px;
    }

    &__list {
        margin-bottom: 32px;
    }

    &__list-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: $greyscale-white;
        &::before {
            content: url('../assets/img/about-checkbox.svg');
            margin-right: 12px;
        }
        &:nth-child(n):not(:last-child) {
            margin-bottom: 14px;
        }
    }

    &__more {
        width: 168px;
        height: 50px;
    }
}
.player-block {

    &__video {
    }

    &__video-play {
    }

    &__video-svg {
    }
}
