<section class="section-offset page-about-about">
    <div class="container page-about-about__container">
        <img loading="lazy" src="./assets/img/webp/grid-bg.webp" class="page-about-about__img" width="990" height="721" alt="grid background">
        <div class="page-about-about__left">
            <h2 class="section-title page-about-about__title">about us</h2>
            <h3 class="section-subtitle page-about-about__subtitle">Bringing Your Vision to Life: Learn About VRNas</h3>
            <p class="page-about-about__text">
                VRNas is a leading provider of VR services for education, entertainment, architecture, and events. Our mission is to bring the power of virtual reality to everyone, allowing them to explore new worlds, learn in new ways, and experience events in a whole new light.<br>
                Our team consists of experienced VR developers, designers, and technicians who are passionate about VR and dedicated to delivering the highest quality work. We use the latest VR hardware and software to create immersive, interactive experiences that are tailored to your specific needs.<br>
                From initial consultation to final delivery, we are committed to providing exceptional customer service. Our goal is to ensure that you are completely satisfied with every aspect of your VR experience.
            </p>
        </div>
        <div class="page-about-about__right">
            <div class="page-about-about__right-wrapper">
                <picture class="page-about-about__picture-lg">
                  <source srcset="./assets/img/webp/page-about-about-man.webp" media="(min-width: 576px)" width="398" height="497" type="image/webp">
                  <source srcset="./assets/img/webp/page-about-about-man-mobile.webp" media="(max-width: 575px)" width="315" height="453" type="image/webp">
                  <img loading="lazy" src="./assets/img/webp/page-about-about-man.webp" srcset="./assets/img/webp/page-about-about-man_2x.webp 2x" alt="man in VR-glasses">
                </picture>
                <div class="page-about-about__picture-bg"></div>
                <div class="player-block page-about-about__player">
                    <button class="btn-reset player-block__video-play page-about-about__video-play" data-open="video" data-src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerEscapes.mp4" aria-label="play video button">
                        <svg class="player-block__video-svg page-about-about__video-svg">
                          <use xlink:href="assets/svg/sprite.svg#play"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>