html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.input-reset {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: #fff;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }
}

.container {
    margin: 0 auto;
    padding: 0 $container-offset;
    max-width: $container-width;
}

.section-offset {
    padding-top: $section-offset;
}

.section-title {
    margin: 0;
    font-weight: 700;
    line-height: 120%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $grid-gap;
    @include tablet-sm {
        column-gap: $grid-gap;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 0;
    }
}