$container-offset: 15px;
$site-container-width: 1440px;
$container-width: 1230px;
$section-offset: 150px;
$section-offset-sm: 100px;

$grid-gap: 32px;

$maxWidth: 1920;
$minWidth: 430;

// COLORS

$main-colors-purple: #ca6aeb;
$main-colors-blue: #19b5f1;
$greyscale-black-100: #18181b;
$greyscale-black-80: #252532;
$greyscale-grey-1: #b0b0b2;
$greyscale-grey-2: #d1d1d1;
$greyscale-white: #fff;
$alerts-success: #00c566;
$alerts-error: #ff4747;
$alerts-warning: #facc15;

$gradient: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
$gradient-text: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 15%);
$gradient-light: linear-gradient(90deg, lighten(#0cbaf1, 10%) 0%, lighten(#e95ce9, 10%) 100%);

$burger-line-color: #fff;


