$container-offset: 15px;
$container-width: 1200px;
$section-offset: 150px;

$grid-gap: 32px;

// COLORS

$main-color-purple: #CA6AEB;
$main-color-blue: #19B5F1;
$alerts-color-success: #00C566;
$alerts-color-error: #FF4747;
$alerts-color-warning: #FACC15;
$black: #18181B;
$black-50: #252532;
$gray-1: #B0B0B2;
$gray-2: #D1D1D1;
$white: #FFFFFF;

$gradient: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);


